@model Cabspot.Models.taxistas

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "taxistas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    
    <div class="form-horizontal">
        <h4>taxistas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*INFO BASICA --------------------------------------------------------------------------------------------*@
        @* FOTO *@
        <input type="hidden" value="prueba" id="personas_foto" name="personas.foto" />
        @* Hidden para pasar ModelState.IsValid, se da valor luego en el controller *@
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px; border: dashed 2px blue;"></div>
                    <div>
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Seleccione Imagen</span><span class="fileinput-exists">Cambiar</span><input type="file" name="foto"></span>
                        <a href="#" class="btn btn-default fileinput-exists btn-danger" data-dismiss="fileinput"><i class="fa fa-trash-o"></i> Borrar</a>
                    </div>
                </div>
            </div>
        </div>
        @* Nombres *@
        <div class="form-group">
            @Html.LabelFor(model => model.personas.nombres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.nombres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.nombres, "", new { @class = "text-danger" })
            </div>
        </div>
        @* Apellidos *@
        <div class="form-group">
            @Html.LabelFor(model => model.personas.apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.apellidos, "", new { @class = "text-danger" })
            </div>
        </div>
        @* Identificacion *@
        <div class="form-group">
            @Html.LabelFor(model => model.personas.identificacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.identificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.identificacion, "", new { @class = "text-danger" })
            </div>
        </div>
        @* fechaNacimiento *@
        <div class="form-group">
            @Html.LabelFor(model => model.personas.fechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.fechaNacimiento, "{0:dd-MMM-yyyy}", new { htmlAttributes = new { @class = "form-control", id = "fecha" } })
                @Html.ValidationMessageFor(model => model.personas.fechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>
        @* SEXO *@
        <div class="form-group">
            @Html.LabelFor(model => model.personas.sexo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.personas.sexo, new SelectList(new List<Object>{
                                                                                        new { value = "" , text = "-*-"},
                                                                                        new { value = "M" , text = "M"  },
                                                                                        new { value = "F" , text = "F" }
                                                                                    }, "value", "text", 2), new { @class = "form-control", style = "width:100px" })
                @Html.ValidationMessageFor(m => m.personas.sexo, "", new { @class = "text-danger" })
            </div>
        </div>
        @* Nacionalidad *@
        <div class="form-group">
            @Html.LabelFor(model => model.personas.nacionalidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="nacionalidad" name="personas.nacionalidad" class="form-control nacionalidad complete"></select>
                @Html.ValidationMessageFor(model => model.personas.nacionalidad, "", new { @class = "text-danger" })
            </div>
        </div>
        @* FIN INFO BASICA --------------------------------------------------------------------------------------------------------------------------------- *@
        @* INFO TAXISTA ----------------------------------------------------------------------------------------------------------------------------------- *@
        @* Base *@
        <div class="form-group">
            @Html.LabelFor(model => model.idBase, "idBase", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.baseSeleccionada, Model.listaBases, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idBase, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.codigoTaxita, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.codigoTaxita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.codigoTaxita, "", new { @class = "text-danger" })
            </div>
        </div>

        @* FIN INFO taxista ----------------------------------------------------------------------------------------------------------------------------------- *@

        @* Direccion -------------------------------------------------------------------------------------------------------------------------------------------------------*@
        <h3>Dirección</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.personas.direcciones.provinciaSeleccionada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.personas.direcciones.provinciaSeleccionada, Model.personas.direcciones.listaProvincias, "", new { @class = "complete form-control", id = "provincia" })
                @Html.ValidationMessageFor(model => model.personas.direcciones.provinciaSeleccionada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personas.direcciones.municipioSeleccionado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="municipio" name="personas.direcciones.municipioSeleccionado" class="form-control municipio complete" disabled="disabled"></select>
                @Html.ValidationMessageFor(model => model.personas.direcciones.municipioSeleccionado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personas.direcciones.ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.direcciones.ciudad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.direcciones.ciudad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personas.direcciones.calle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.direcciones.calle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.direcciones.calle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personas.direcciones.nombreEdificio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.direcciones.nombreEdificio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.direcciones.nombreEdificio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personas.direcciones.numeroEdificio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.direcciones.numeroEdificio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.direcciones.numeroEdificio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personas.direcciones.numeroPuerta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.direcciones.numeroPuerta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.direcciones.numeroPuerta, "", new { @class = "text-danger" })
            </div>
        </div>
        @* Fin direccion ---------------------------------------------------------------------------------------------------------------------------------------------------- *@

        @* Contactos ---------------------------------------------------------------------------------------------------------------------------------------------------- *@
        <h3>Contacto</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.personas.contactos.telefonoMovil, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.contactos.telefonoMovil, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.contactos.telefonoMovil, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.personas.contactos.telefonoResidencial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.contactos.telefonoResidencial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.contactos.telefonoResidencial, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.personas.contactos.telefonoTrabajo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.contactos.telefonoTrabajo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.contactos.telefonoTrabajo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.personas.contactos.fax, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.contactos.fax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.contactos.fax, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.personas.contactos.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.contactos.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.contactos.email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.personas.contactos.emailAlternativo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.contactos.emailAlternativo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.contactos.emailAlternativo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.personas.contactos.paginaWeb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personas.contactos.paginaWeb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personas.contactos.paginaWeb, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Fin Contactos ---------------------------------------------------------------------------------------------------------------------------------------------------- *@



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                $('#fecha').datepicker({
                    format: "dd/M/yyyy",
                    autoclose: true,
                    todayBtn: true,
                    todayHighlight: true
                });
            });
        </script>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
