@model IEnumerable<Cabspot.Models.taxistas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigoTaxista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEstadoDisponibilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registradoPor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitudActual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitudActual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ultimaActualizacionPosicion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idPersona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigoTaxista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idEstadoDisponibilidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registradoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitudActual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitudActual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ultimaActualizacionPosicion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTaxista }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTaxista }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTaxista })
        </td>
    </tr>
}

</table>
