@model Cabspot.Models.empleados

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>empleados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bases.nombreBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bases.nombreBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleados2.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados2.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoempleados.estadoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoempleados.estadoEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roles.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roles.rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEmpleado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
