@model IEnumerable<Cabspot.Models.empleados>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bases.nombreBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estadoempleados.estadoEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roles.rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrasena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bases.nombreBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estadoempleados.estadoEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roles.rol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrasena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEmpleado }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEmpleado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEmpleado })
        </td>
    </tr>
}

</table>
