<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        @*<h3>General</h3>*@
        <ul class="nav side-menu">
            @* Inicio *@
            <li>
                <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Inicio</a>
            </li>
            @* Bases *@
            <li>
                <a><i class="fa fa-building"></i> Bases <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href="@Url.Action("Index","Bases")">Listado Bases</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create","Bases")">Agregar Base</a>
                    </li>
                </ul>
            </li>

            @* Empleados *@
            <li>
                <a><i class="fa fa-users"></i> Empleados <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href="@Url.Action("Index", "Empleados")">Listado Empleados</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Empleados")">Agregar Empleado</a>
                    </li>
                </ul>
            </li>
            @* Taxistas *@
            <li>
                <a><i class="fa fa-taxi"></i> Taxistas <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href="@Url.Action("Index", "Taxistas")">Listado Taxistas</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Taxistas")">Agregar Taxista</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->
