@model IEnumerable<Cabspot.Models.bases>

@{
    ViewBag.controller = "Bases";
    ViewBag.action = "Listado Bases";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //lanzando notificacion de exito
    if (TempData["success"] != null)
    {
        <script type="text/javascript">
            var permanotice, tooltip, _alert;
            $(function () {
                new PNotify({
                    title: "Error",
                    type: "error",
                    text: "Exito! se ha agregado una base",
                    nonblock: {
                        nonblock: true
                    },
                    before_close: function (PNotify) {
                        // You can access the notice's options with this. It is read only.
                        //PNotify.options.text;

                        // You can change the notice's options after the timer like this:
                        PNotify.update({
                            title: PNotify.options.title + " - Enjoy your Stay",
                            before_close: null
                        });
                        PNotify.queueRemove();
                        return false;
                    }
                });
            });
        </script>
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contactos.telefonoMovil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direcciones.numeroPuerta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreBase)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.contactos.telefonoMovil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direcciones.numeroPuerta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreBase)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idBase }) |
            @Html.ActionLink("Details", "Details", new { id=item.idBase }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idBase })
        </td>
    </tr>
}

</table>
